*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
 
    width: 170px;
 
    height: auto;
 
}
/* Sub-logo styling  class-selector*/
.sub-logo {
    color: #ff6b00;
    font-size: 20px;
}

.nav-link:hover{
    border-bottom: 1px solid #ff6b00;
}

.nav-link:active{
    border-bottom: 1px solid #ff6b00;
    font-size: 18px;
}


h2 + ul > li {
    list-style-type: square;
}

table{
    border: 1px solid black;
    text-align: center;
    
}

table th , table td{
    border: 1px solid black;
    padding: 5px;
}

th,td{
    padding: 10px;
}

.centre{
    align-items: center;
    display: flex;
    justify-content: center;
}

.required::before {
    content: "*";
    color: red;
}

body{
    background-image:url(../images/biteBox_new.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
    background: ;


}

